@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Short+Stack&display=swap');

.about-image {
    transform: scale(0.8);
    margin-top: 3%;
    margin-left: 10%;
    transition: opacity 0.3s ease, transform 0.3s ease;

    /* Add animation */
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scale(0.8); /* Initial position */
    }
    50% {
        transform: translateY(-10px) scale(0.8); /* Moves up */
    }
}

.about-image:hover {
    transform: scale(0.9); /* Adds a slight scaling effect */
}

.down-arrow {
    display: flex;
    margin-top: -2%;
    margin-left: 50%;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: -2%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    margin-top: 10%;
    color: var(--brown, #85715B);
    font-size: 1.5em;
}

.name {
    font-family: "Mochiy Pop P One";
    color: var(--nature-green, #395434);
    text-shadow: 0px 3.532px 3.532px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--pale-pink, #E4AF9D);
    font-size: 5em;
    font-style: normal;
    line-height: 1.2; /* 2% */
    letter-spacing: 2px;
}

.description {
    margin-top: 3%;
    margin-right: 30%;
    line-height: 1.5;
    color: #395434;
    margin-bottom: 2%;
}

.loader-sentence {
    font-size: 1.8em;
    display: flex;
    margin-top: 2%;
    color: #395434;
}

.words {
    position: relative;
    overflow: hidden;
    height: 2.3em;
    margin-left: 1%;
    margin-top: -0.5%;
}

.words::after {
    content: "";
    background: linear-gradient(
        var(--bg-color) 10%,
        transparent 30%,
        transparent 70%,
        var(--bg-color) 90%
    );
    z-index: 1;
}

.word {
    display: block;
    height: 100%;
    color: #E4AF9D;
    font-weight: bold;
    animation: spin_4991 6s infinite;
    margin-bottom: 1%;
    z-index: 2;
}

@keyframes spin_4991 {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    10% {
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
    }

    25% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }

    35% {
        -webkit-transform: translateY(-202%);
        transform: translateY(-202%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-302%);
        transform: translateY(-302%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-402%);
        transform: translateY(-402%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}

.arrows {
  width: 60px;
  height: 76px;
  margin-left: 46.5%;
  margin-top: -2%;
}

.arrows path {
  stroke: #395434;
  fill: transparent;
  stroke-width: 3px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}