.card {
    display: inline-flex;
    align-items: center;
    gap: 15%;
    margin-top: 3%;
}

.linkedin {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid var(--forest-green, #395434);
    background: var(--mint-green, #97A182);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 5px 5px 10px;
}

.github {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid #000;
    background: var(--forest-green, #395434);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px 10px 10px 10px;
}

.email {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid var(--forest-green, #395434);
    background: var(--pastel-pink, #E4AF9D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px 10px 10px 10px;
}

.icon {
    transform: scale(0.8);
}


