.event-section {
  display: flex;
  align-items: center;
  margin-left: 18%;
  justify-content: space-between; /* This ensures elements are spaced properly */
  width: 80%; /* Adjust width to control the layout better */
}

.time {
  color: #000;
  text-align: right;
  font-family: "Short Stack";
  font-size: 20px;
  font-weight: 400;
  line-height: 41.502px; /* 129.693% */
  letter-spacing: 1.6px;
  margin-right: 1%;
  margin-left: -12%;
  flex: 1; /* Make time flexible to adjust the space between elements */
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2%;
}

.dot {
  fill: var(--forest-green, #395434);
  stroke-width: 5px;
  stroke: var(--pastel-pink, #E4AF9D);
  animation: brightness-glow 2s infinite ease-in-out;
}

@keyframes brightness-glow {
  0%, 100% {
      filter: brightness(100%); /* Normal brightness */
  }
  50% {
      filter: brightness(150%); /* Brighter */
  }
}

.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  flex: 2; /* Allows event section to take up more space */
}

.event-name {
  color: #000;
  font-family: "Short Stack";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; /* 174.074% */
  letter-spacing: 1.192px;
  margin-right: 20%;
  margin-bottom:1%;
}

.event-description {
  color: var(--brown, #85715B);
  font-family: "Short Stack";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.192px;
  margin-right: 20%;
  margin-bottom: 2%;
}