.interest-pic {
    transform: scale(0.7);
    animation: pulse 2s infinite ease-in-out; /* Animation applied */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.7); /* Initial size */
    }
    50% {
        transform: scale(0.75); /* Moves forward */
    }
}


.interest-container {
    display: flex;
    flex-direction: row;
}

.interest-left {
    width: 60%;
    margin-left: 10%;
    margin-top: 6%;
}

.interest-right {
    width: 50%;
    margin-top: 3%;
}

.interest-title {
    color: var(--brown, #85715B);
    font-family: "Mochiy Pop P One";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 162.5% */
    letter-spacing: 2px;
    margin-bottom: 1%;
}

.interest-description {
    color: #000;
    font-family: "Short Stack";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 212% */
    letter-spacing: 1.25px;
    text-align: left    ;
}

b {
    color: #395434;
    font-weight: bolder;
    font-size: 18px;
}