.info-card {
    display: inline-flex;
    width: 25%;
    padding-top: 1%;
    padding-right: 1%;
    flex-direction: column;
    align-items: flex-end;
    gap: 23px;
    border-radius: 50px;
    border: 1px solid var(--brown, #85715B);
    background: var(--beige, #FAF6E8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.info-card:hover {
    transform: scale(1.05); /* Adds a slight scaling effect */
}

.image {
    display: flex;
    width: 95%;
    height: 205px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--mint-green, #97A182);
    object-fit: fill;
    border: 1px solid #97A182;
}

.row {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.info {
    display: inline-flex;
    flex-direction: column;
    justify-content:flex-start;
    align-self: flex-start;
    color: #000;
    font-family: "Short Stack";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.65px;
    padding-left: 8%;
    padding-right: 13%;
}

.project-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    color: var(--forest-green, #395434);
    font-family: "Short Stack";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.25px;
    margin-bottom: 1.5%;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    color: #000;
    font-family: "Short Stack";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.65px;
}

.github-link {
    display: flex;
    width: 15%;
    height: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background: var(--forest-green, #395434);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-left: 83%;
    margin-bottom: 5%;
}

.github-link:hover {
    transform: scale(1.05); /* Adds a slight scaling effect */
}

.github-icon {
    transform: scale(0.6);
}
