.title {
    color: var(--forest-green, #395434);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--beige, #FAF6E8);
    font-family: "Mochiy Pop P One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 104.167% */
    letter-spacing: 7.2px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--forest-green, #395434);
    text-align: center;
    font-family: "Short Stack";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3.6px;
}

.mint-green-icon {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid var(--forest-green, #395434);
    background: var(--mint-green, #97A182);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 100px;
    margin-bottom: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.mint-green-icon:hover {
    opacity: 0.8; /* Fades the container */
    transform: scale(1.05); /* Adds a slight scaling effect */
}

.dark-green-icon {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid var(--forest-green, #395434);
    background: var(--forest-green, #395434);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 100px;
    margin-bottom: 10%;    

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dark-green-icon:hover {
    opacity: 0.8; /* Fades the container */
    transform: scale(1.05); /* Adds a slight scaling effect */
}

.brown-icon {
    border-radius: 60px 60px 120px 120px;
    border: 1px solid var(--forest-green, #395434);
    background: var(--brown, #85715B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 100px;
    margin-bottom: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.brown-icon:hover {
    opacity: 0.8; /* Fades the container */
    transform: scale(1.05); /* Adds a slight scaling effect */
}